@using static BeanSceneAppV1.Models.Reservation
@model BeanSceneAppV1.ViewModels.TableReservationViewModel

@{
    ViewData["Title"] = "AssignTables";
    async Task TablesNeeded(int tablesNeeded)
    {
        for (int i = 0; i < tablesNeeded; i++)
        {
            //for (int j = 0; j < Model.Tables.Length; j++)
            //{
            <div class="form-group">
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-sm-4" style="margin-right:30px;">
                        <dt style="color:aliceblue; font-weight:bold; width:100px; "> @Html.DisplayNameFor(model => model.TableReservation.Table.Table_Name)</dt>
                    </div>
                    @*bruh*@
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.TableIds[i], new SelectList(Model.Tables[i], "Id", "Table_Name"),new {@class="form-control form-select"})
                    </div>
                </div>
            </div>
            // }

        }

    }
}

<h1 style="width:200px">Assign Tables</h1>

<h4 style="width:400px; font-weight:bold ;">Table Reservations</h4>
<hr />
<div class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.Date)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.Date) </dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.TimeSlot.Time) </dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.TimeSlot.Time)</dd>
    @*    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Table.Table_Name) </dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Table.Table_Name)</dd> *@
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.GuestAmount) </dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.GuestAmount)</dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.FirstName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.FirstName) </dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.LastName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.LastName) </dd>
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.Reservation.Email)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.Reservation.Email) </dd>
    @* <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TableReservation.ReservationId)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.TableReservation.ReservationId) </dd>*@
    <div class="col-md-4">
        <form asp-action="AssignTables">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
            <label asp-for="TableReservation.Reservation.Id" class="control-label"></label>
            <select asp-for="TableReservation.Reservation.Id" class="form-control" asp-items="ViewBag.TableReservation.Reservation.Id"></select>
            </div>*@

            @TablesNeeded(Model.TablesNeeded)
            @* passed values from controller go here as they do not transfer on submit otherwise.*@
            <input asp-for="TablesNeeded" hidden value="@Model.TablesNeeded" class="form-control" />
            <input asp-for="TableReservation.ReservationId" hidden value="@Model.TableReservation.ReservationId" class="form-control" />
            <input asp-for="TableReservation.Reservation.Date" type="datetime" hidden value="@Model.TableReservation.Reservation.Date" class="form-control" />
            <input asp-for="TableReservation.Reservation.TimeSlotId" hidden value="@Model.TableReservation.Reservation.TimeSlotId" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial", Model);
    }
    }
