@model IEnumerable<BeanSceneAppV1.Models.Area>

@{
    ViewData["Title"] = "Areas";
}

<h1 style="width:max-content; font-size:.4px; margin-top:3%;">@ViewData["Title"]</h1>
<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>New</span>
</a>
<br />
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>
                <td>@Html.Partial("_TableCrudTemplate", new CrudTemplate{AreaId = item.Id})</td>
               @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
