@model IEnumerable<BeanSceneAppV1.Models.AreaAvailability>

@{
    ViewData["Title"] = "Area Availability";

    async Task collapsefunc(string area)
    {
        <div style="margin-bottom:10px">
            <button type="button" class="collapsible btn btn-dark" style="width:100%">
                @area
            </button>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Area)</th>
                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                            <th>@Html.DisplayNameFor(model => model.Start_Time)</th>
                            <th>@Html.DisplayNameFor(model => model.End_Time)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Area.Name == area)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Area.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Start_Time)</td>
                                    <td>@Html.DisplayFor(modelItem => item.End_Time)</td>
                                    <td>@Html.Partial("_TableCrudTemplate", new CrudTemplate{AreaId = item.Id})</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<h1 style="width:max-content; font-size:.4px; margin-top:3%;">@ViewData["Title"]</h1>

<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>New</span>
</a>
<div class="form-group" style="flex-direction:row">

    @{
        await collapsefunc("Main");
    }
    @{
        await collapsefunc("Balcony");
    }
    @{
        await collapsefunc("Outside");
    }
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>