@model IEnumerable<BeanSceneAppV1.Models.Table>

@{
    ViewData["Title"] = "Tables";

    async Task collapsefunc(string area)
    {

        <div style="margin-bottom:10px">
            <button type="button" class="collapsible btn btn-dark" style="width:100%">
                @area Tables

            </button>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Table_Name)</th>
                            <th>@Html.DisplayNameFor(m => m.Area)</th>
                            <th>@Html.DisplayNameFor(model => model.Table_Seats)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Area.Name == area)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Table_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Area.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Table_Seats)</td>
                                    <td>
                                    <td>@Html.Partial("_TableCrudTemplate", new CrudTemplate{AreaId = item.Id})</td>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<h1 style="width:max-content; font-size:.4px; margin-top:3%;">@ViewData["Title"]</h1>

<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Create")">
    <span class="glyphicon glyphicon-plus"></span>
    <span>New</span>
</a>
<div class="form-group" style="flex-direction:row">

    @{
        await collapsefunc("Main");
    }
    @{
        await collapsefunc("Balcony");
    }
    @{
        await collapsefunc("Outside");
    }

</div>
<script>
    var coll = document.getElementsByClassName("collapsible");

    var i;


    for (i = 0; i < coll.length; i++) {

        coll[i].addEventListener("click", function () {

            this.classList.toggle("active");
            var content = this.nextElementSibling;

            if (content.style.display === "block") {

                content.style.display = "none";
            } else {
                content.style.display = "block";

            }

        });
    }

</script>