@model IEnumerable<BeanSceneAppV1.Models.TableAvailability>

@{
    ViewData["Title"] = "Index";

    async Task collapsefunc(int area)
    {
        <div style="margin-bottom:10px">
            <button type="button" class="collapsible btn btn-dark" style="width:100%">
                @{
                    string display = "placeholder";
                }
                @switch (area)
                {
                    case 1:
                        display = "Main";
                        break;
                    case 2:
                        display = "Balcony";
                        break;
                    case 3:
                        display = "Outside";
                        break;
                }
                @display
            </button>
            <div class="content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Table)</th>
                            <th>@Html.DisplayNameFor(model => model.Date)</th>
                            <th>@Html.DisplayNameFor(model => model.TimeSlot)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Table.AreaId == area)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Table.Table_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TimeSlot.Time)</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group" style="flex-direction:row">

    @{
        await collapsefunc(1);
    }
    @{
        await collapsefunc(2);
    }
    @{
        await collapsefunc(3);
    }
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
